/* Table of Contents:
	1.0:- Default styles
	2.0:- Global styles
	3.0:- Navbar
	4.0:- Carousel
*/

/* 1.0:- Default Styles */

/* Default/Base styles for the page; generally element selectors w/o classes/ids */

html {
	/* Override Wordpress overflow */
	overflow: hidden !important;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #ffffff;
	color: #000000;
	font-family: Palatino, "Times New Roman", Times, serif;
	/* Override Wordpress overflow */
	overflow-x: hidden !important;
}

body.admin-bar {
	/* Height calculated for full view height, minus the height of the admin bar */
	height: calc( 100vh - 32px );
}

body > * {
	/* Prevent elements shrinking due to flex */
	flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: Helvetica, Arial, sans-serif;
}


/* 2.0:- Global styles */

/* Global styles, apply to more than one element or page */

/* Select any top-level container class */
body > [class*="container"] {
	flex: 1 0 auto;
}

#single-post-image {
	width: 25%;
	padding-top: 25%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.post-image {
	width: 100%;
	padding-top: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.footer-widget:not(:last-child) {
	width: fit-content;
	border-right: 0.5px solid #000000;
}

.carousel-control-prev,
.carousel-control-next {
	background-color: #555555;
}


/* 3:0:- Navbar */

/* Styles relating to the navbar */

.navbar-brand {
	width: 15%;
	height: 40px;
}

.navbar-brand-image {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
}

/* 4.0:- Carousel */

/* Styles relating to the carousel */

#main-carousel {
	height: fit-content;
	overflow: hidden;
}
